.gallery {
    display: flex;
    flex-wrap: wrap;

    margin-top: 50px;
    padding: 30px;
}

a {
    width: 100%;
    text-decoration: none;
}

img {
    width: 100%;
    height: 230px;
    cursor: zoom-in;
}

.photo-card {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 150px) / 4);

    margin-right: 50px; 
    margin-bottom: 50px;

    overflow: hidden;
    border-radius: 10%;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.64);
        -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.64);
        -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.64);

    transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.photo-card:hover,
.photo-card:focus{
    transform: scale(1.05);
}

.photo-card:nth-last-child(-n + 4) {
    margin-bottom: 0px;
}

.photo-card:nth-child(4n) {
    margin-right: 0px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
}

.info-item {
    display: flex;
    flex-direction: column;
    margin: 0px;
    text-align: center; 
}

form {
    position: fixed;
    top: 0;
    left: 0;

    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    z-index: 10;

    background-color: rgb(41, 94, 255);

    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

    margin-right: 10px;
    border-radius: 8px;
}

button.submit{
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button.load-more {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;

    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;

    color: white;
    background-color:rgb(41, 94, 255);
    border-color: rgb(41, 94, 255);

    transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

button.load-more:hover,
button.load-more:focus{
    transform: scale(1.2);
    cursor: pointer;
}

button.is-hidden {
    display: none;
}

